.Header2 {
  margin-top: 2%;
  height: 15vh;
  

  
  
}
.Header2 h2 {
  float: left;
  border: 1px solid blue;
  padding: 25px;
  padding-left: 241.7px;
  border-radius: 2.2px;
  color: blue;
  font-size: smaller;
  
}  
@media (max-width:700px) {
 .Header2 h2 {
  padding: 19px;
  padding-left: 52px;
  }
}
@media (max-width:480px) {
  .Header2 h2 {
   padding: 10px;
   padding-left: 31px;
   }
 }
.Header2 :hover h2  {
  opacity: 1;
  transition: 1s;
  background:slategray;
  color: turquoise;
}
.Header2 .icons2 {
  position: absolute;
  left: 7%;
  top: 112%;
  color: blue;
}
@media (max-width:700px) {
  .Header2 .icons2 {
    position: absolute;
    left: 4%;
    top: 57%;
    color: blue;
   }
 }
 @media (max-width:480px) {
  .Header2 .icons2 {
    position: absolute;
    left: 4%;
    top: 44%;
    color: blue;
   }
 }
.Header2 .icons3 {
  position: absolute;
  left: 35%;
  top: 112%;
  color: blue;
}
@media (max-width:700px) {
  .Header2 .icons3 {
    position: absolute;
    left: 30%;
    top: 56.5%;
    color: blue;
   }
 }
 @media  (max-width:480px) {
  .Header2 .icons3 {
    position: absolute;
    left: 30%;
    top: 44%;
    color: blue;
   }
 }
.Header2 .icons4 {
  position: absolute;
  left: 58%;
  top: 112%;
  color: blue;
}
@media (max-width:700px) {
  .Header2 .icons4 {
    position: absolute;
    left: 53%;
    top: 57%;
    color: blue;
   }
 }
 @media  (max-width:480px) {
  .Header2 .icons4 {
    position: absolute;
    left: 52%;
    top: 44.5%;
    color: blue;
   }
 }
.Header2 .icons5 {
  position: absolute;
  left: 83%;
  top: 112%;
  color: blue;
}
@media (max-width:700px) {
  .Header2 .icons5 {
    position: absolute;
    left: 83%;
    top: 57%;
    color: blue;
   }
 }
 @media  (max-width:480px) {
  .Header2 .icons5 {
    position: absolute;
    left: 82.5%;
    top: 44.3%;
    color: blue;
   }
 }