body {
  margin: 0;
  padding: 0;
  
  
}
/* @media  (max-width:480px) {
  .pik{
    height: 20vh;
}   
} */
.Header1 {
  
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(blue);
  
}
@media (max-width:700px) {
  .Header1 {
     height: 50vh;
     width: 100%;
     background-size: cover;
  }
}

#circle {
  width: 150%;
  height: 35vh;
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 270%;
  background: skyblue;
}
@media (max-width:700px) {
  #circle {
    width: 0%;
    height: 0vh;
    top: 0%;
    left: 0%;
    border-radius: 0%;
    background: thistle;
  }
}
@media (max-width:480px) {
  .Header1 {
     height: 40vh;
     width: 100%;
     background-size: cover;
     
  }
}

.Header1 .icons {
  color: whitesmoke;
  margin-left: 2%;
  margin-top: 2%;
 float: left;
}
.Header1 nav h1 {
  color: whitesmoke;
  float: right;
  margin-right: 4%;
 
}
@media (max-width:700px) {
  .Header1 nav h1 {
     font-size: medium;
     
  }
}


